
#history #center_column h1{margin-top:20px}
#history #center_column h4{
	margin:20px 0;
	padding:15px 20px;
	background:#ccc
}
#history #center_column h4 input {
	position: relative;
        top: -8px;
	float:right;
}

.info-order {
	margin-bottom:20px;
}
.info-order p {padding-bottom:10px}
.info-order p .icon {
	position:relative;
	top:2px;
	left:0
}

#order-list {
	margin-bottom:20px;
	width:100%;
	border:1px solid #999;
	border-bottom:none
}
#order-list tr.alternate_item {background-color: #f3f3f3}

.adresses_bloc {margin-bottom:20px}

.detail_step_by_step {width:100%}
.detail_step_by_step tr.last_item td {border-bottom:1px solid #999}

#order-detail-content table {width:100%}
#order-detail-content table .order_qte_input {display:none}

#sendOrderMessage {margin-bottom:20px}
#sendOrderMessage p {padding-bottom:10px}














